{
  "compilerOptions": {
    "target": "ES2022",
    "module": "ESNext",
    "moduleResolution": "Bundler",
    "allowJs": true,
    "checkJs": false,
    "baseUrl": "."
  },
  "include": [
    "{{ module }}/**/*.js",
    "{{ module }}/**/*.d.ts"
  ],
  "exclude": [
    "**/__pycache__/**",
    "**/node_modules/**"
  ]
}
