# {{ title }}

{{ description }}

## Installation

```bash
grunt app install {{ app_name }}
grunt serve --reload
```

## Development

```bash
# Add a DocType
grunt doctype scaffold MyDocType --app {{ app_name }}

# List installed DocTypes
grunt doctype list
```

## Author

{{ author }} <{{ email }}>
